asgiref==3.7.2
beautifulsoup4==4.12.2
crispy-bootstrap4==2023.1
Django==4.2.6
django-bootstrap4==23.2
django-crispy-forms==2.1
django-extensions==3.2.3
django-filter==23.3
django-smtp-ssl==1.0
djangoviz==0.1.1
graphqlclient==0.2.4
graphviz==0.20.1
Pillow==10.1.0
pydot==1.4.2
pyparsing==3.1.1
reportlab==4.0.6
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
